html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing:border-box;
     border:1px solid grey; /*remove later*/
   /* max-width:100%; /*background-color:grey;*/
    /*color:red;*/
  }
  /*General Styles*/
  html{
    font-size:62.5%;
  }
  body{
    font-size:1.8rem;
    line-height:1.5;}
    h1{font-size: 4rem; 
        text-align:center;
       
    }
    
    a{text-decoration:none;}
    nav {display:flex;
       justify-content: center;
   }
   nav a{display: inline-block;
    width:12%;
    background-color:grey;
    border:solid black;
    color:white;
    padding:0 4%;
    margin:2rem 0
}
h2{font-size:4rem;
margin:2rem 0;
text-align:center;
}

.intro p{display:flex;
padding:0 18%;}
span{font-weight:bold}
.background-image{ background-image: url(https://ch3301files.storage.live.com/y4pYeBTGLq7lLbTj4ei4Eut4Z2xxj-v07D0jodtHk97358a6gFurt-a_LEevRZQ8k-tzA1mfqNfS-iZLc5-frRRORlcMv5ZrQcOzPt_0LA-WixKnJMsQdJ92Asj8OVED2f68natPJZZN1ePgrLETg0mJfqVGSbRA9pYLKzza2itWQZupZrNgN6uBI3hZyi5FJ2bm2OF9fq-EeFe6MWj-IxigRnvHr-HN4YBNd4-Z4QtmwY?psid=2&width=538&height=404);
background-repeat:none;
background-size: cover;
height:50rem;}

.projects{ display:flex;
  justify-content:space-around;}
 .gallery{display:flex; max-height: 50rem;



