html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: .28rem;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing:content-box;
   /*  border:1px solid grey; /*remove later*/
   /* max-width:100%; /*background-color:grey;*/
    /*color:red;*/
  }
  /*General Styles*/
  html{
    font-size:62.5%;
  }
  body{
    font-size:1.8rem;
    line-height:1.5;}
    h1{font-size: 4rem; 
        text-align:center;
       
    }
    
    a{text-decoration:none;}
    nav {display:flex;
       justify-content: center;
   }
   nav a{display: inline-block;
    width:12%;
    background-color:grey;
    border:solid black;
    color:white;
    padding:1.5rem 0% 1.5rem 0;
    margin:2rem 0; text-align: center;
}
h2{font-size:4rem;
margin:2rem 0;
text-align:center;
padding:4rem 0;
}

.intro p{display:flex;
padding:0 18% 5% 18%;}
span{font-weight:bold}
.background-image{ background-image: url(https://image.freepik.com/free-photo/orange-grunge-brick-wall-one-side-green-background_15039-305.jpg);
background-repeat:none;
background-size: cover;
height:50rem; margin-bottom:10%}

.projects{ display:flex;
  }
 .gallery img{display:inside; width:24%; height:100%;
     justify-content: center;
     flex-direction: row;
    margin-left:0%;}
    .projects p{text-align: justify;padding:4% 4%;height:14rem;}
    footer{background-color: grey;
         height:5rem;
         text-align:center;
        padding:6% 0; margin:10% 0}
footer a{text-decoration:none;
     background-color:white
     ;border:black solid;border-radius:5px;margin:5rem 5rem;
    padding:1.2rem 2rem;padding-top:1rem;
}
nav a .tab{padding-left:5rem;display: none;}

@media(max-width: 800px){
  body{width: 90%}
  h2{padding: 1% 1%; margin: .5%;}

.gallery img{ width:49%;
   flex-wrap: wrap;
   padding: 3% 0%; height: auto;
 

}
}

